name: Performance

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: linux-mi325-1gpu-ossci-nod-ai

    concurrency:
      group: benchmarking
      cancel-in-progress: true

    env:
      WAVE_CACHE_ON: 0

    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Setup Python"
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.12"

      - name: Setup venv
        run: |
          python3 -m venv bench_venv
          source bench_venv/bin/activate
          pip install --upgrade pip
          pip install --pre --no-cache-dir --find-links https://iree.dev/pip-release-links.html iree-base-compiler iree-base-runtime --upgrade
          pip install -r pytorch-rocm-requirements.txt
          pip install -r requirements.txt
          pip install wave-lang

      - name: Attention - Wave
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=wave --iterations=1

      - name: Attention - Wave GQA
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=wavegqa --iterations=1

      - name: Attention - IREE
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=iree --iterations=1

      - name: Attention - Torch
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=torch --iterations=10

      - name: GEMM - Wave
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.gemmbench --variants=NT --backend=wave --iterations=1

      - name: GEMM - IREE
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.gemmbench --backend=iree --iterations=1

      - name: GEMM - Torch
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.gemmbench --backend=torch --iterations=5

      - name: Convolutions - Wave
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.convbench --backend=wave --iterations=1

      - name: Convolutions - IREE
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.convbench --backend=iree --iterations=1

      - name: Upload benchmark results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: benchmark-results
          path: ./results/
