name: Performance

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  benchmark:
    name: E2E Benchmarks
    runs-on: linux-mi325-1gpu-ossci-nod-ai

    concurrency:
      group: benchmarking
      cancel-in-progress: true

    env:
      WAVE_CACHE_ON: 0

    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Setup Python"
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.12"

      - name: Setup venv
        run: |
          chmod +x ./setup.sh
          ./setup.sh --venv-path=bench_venv

      - name: Run GEMM Benchmarks
        run: |
          source bench_venv/bin/activate
          python3 -m kernel_bench.cli.bench --backend=all --kernel_type=gemm --machine=mi325x

      - name: Run Attention Benchmarks
        run: |
          source bench_venv/bin/activate
          python3 -m kernel_bench.cli.bench --backend=all --kernel_type=attention --machine=mi325x

      - name: Run Extend Attention Benchmarks
        run: |
          source bench_venv/bin/activate
          python3 -m kernel_bench.cli.bench --backend=all --kernel_type=extend_attention --machine=mi325x

      - name: Run Conv Benchmarks
        run: |
          source bench_venv/bin/activate
          python3 -m kernel_bench.cli.bench --backend=all --kernel_type=conv --machine=mi325x

      - name: Upload benchmark results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: benchmark-results
          path: ./results/
