name: Performance

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: linux-mi300-1gpu-ossci-nod-ai

    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: "Setup Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Setup venv
        run: |
          python3 -m venv bench_venv
          source bench_venv/bin/activate
          pip install --upgrade pip
          pip install --pre --no-cache-dir --find-links https://iree.dev/pip-release-links.html iree-base-compiler iree-base-runtime --upgrade
          pip install -r requirements.txt
          pip install iree-turbine@git+https://github.com/iree-org/iree-turbine.git@main

      - name: Attention - Wave
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=wave --iterations=5

      - name: Attention - Wave GQA
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=wavegqa --iterations=5

      - name: Attention - IREE
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.attentionbench --backend=iree --iterations=5

      - name: GEMM - Wave
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.gemmbench --tk --iterations=5

      - name: GEMM - IREE
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.gemmbench --iterations=5

      - name: Convolutions - Wave
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.convbench --tk --iterations=5

      - name: Convolutions - IREE
        run: |
          source bench_venv/bin/activate
          python -m iree_kernel_benchmark.convbench --iterations=5

      - name: Upload benchmark results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: benchmark-results
          path: ./results/
