name: Performance

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: linux-mi300-1gpu-ossci-nod-ai

    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4

      - name: Setup venv
        run: |
          python3 -m venv bench_venv
          source bench_venv/bin/activate
          pip install --upgrade pip
          pip install --pre --no-cache-dir --find-links https://iree.dev/pip-release-links.html iree-base-compiler iree-base-runtime --upgrade
          pip install -r requirements.txt
          pip install iree-turbine@git+https://github.com/iree-org/iree-turbine.git@main

      - name: Convolutions
        run: |
          source bench_venv/bin/activate
          python -m iree-kernel-benchmark.convbench

      - name: TK Convolutions
        run: |
          source bench_venv/bin/activate
          python -m iree-kernel-benchmark.convbench --tk

      - name: Attention
        run: |
          source bench_venv/bin/activate
          python -m iree-kernel-benchmark.attentionbench

      - name: TK GEMM
        run: |
          source bench_venv/bin/activate
          python -m iree-kernel-benchmark.gemmbench --tk

      - name: GEMM
        run: |
          source bench_venv/bin/activate
          python -m iree-kernel-benchmark.gemmbench

      - name: Roofline Plots
        run: |
          source bench_venv/bin/activate
          python -m iree-kernel-benchmark.convbench --roofline results/iree_conv.csv --plot results/iree_conv_i8.png --dtype i8
          python -m iree-kernel-benchmark.convbench --roofline results/iree_conv.csv --plot results/iree_conv_f16.png --dtype f16
          python -m iree-kernel-benchmark.convbench --roofline results/iree_conv_tk.csv --plot results/iree_conv_tk_f16.png --dtype f16
          python -m iree-kernel-benchmark.convbench --roofline results/iree_attention.csv --plot results/iree_attention_fp16.png --dtype f16
          python -m iree-kernel-benchmark.convbench --roofline results/iree_attention.csv --plot results/iree_attention_fp8.png --dtype f8E4M3FNUZ
          python -m iree-kernel-benchmark.convbench --roofline results/iree_gemm.csv --plot results/iree_gemm.png
          python -m iree-kernel-benchmark.convbench --roofline results/iree_gemm_tk.csv --plot results/iree_gemm_tk.png
          python -m iree-kernel-benchmark.convbench --roofline results/iree_gemm.csv,results/iree_gemm_tk.csv,results/iree_attention.csv,results/iree_conv.csv,results/iree_conv_tk.csv --plot results/combined.png

      - name: Upload benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results
          path: ./results/
