name: Short Benchmark

on:
  pull_request:
  workflow_dispatch:
    inputs:
      max_kernels:
        description: "Maximum number of kernels to benchmark"
        required: false
        default: "50"
      selected_backend:
        description: "Which backends to run benchmarks for (wave, iree, torch, hipblaslt, all)"
        required: false
        default: "all"
      selected_kernel:
        description: "Which kernels to run benchmarks for (conv, gemm, attention, all)"
        required: false
        default: "all"
      metadata:
        description: "Optional: metadata string for tagging the result"
        required: false
      pr_branch:
        description: "Branch name to check out (e.g., feature/opt-pass)"
        required: false
      pr_repository:
        description: "Repository to check out from (e.g., iree-org/wave)"
        required: false
      pr_headsha:
        description: "Head sha of pull request that triggered dispatch"
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ inputs.pr_headsha || github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  identifier:
    name: Benchmark Run Identifier
    runs-on: ubuntu-latest
    steps:
      - name: headSha_${{ inputs.pr_headsha || 'undefined' }}
        run: echo run identifier ${{ inputs.pr_headsha || 'undefined' }}

  short_benchmark:
    name: Short Benchmark
    runs-on: linux-mi325-1gpu-ossci-nod-ai

    concurrency:
      group: benchmarking
      cancel-in-progress: false

    env:
      WAVE_CACHE_ON: 0
      MAX_KERNELS: ${{ inputs.max_kernels || '50' }}
      SELECTED_BACKEND: ${{ inputs.selected_backend || 'all' }}
      SELECTED_KERNEL: ${{ inputs.selected_kernel || 'all' }}
      WAVE_REPO: ${{ inputs.pr_repository || 'iree-org/wave' }}
      WAVE_BRANCH: ${{ inputs.pr_branch || 'main' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Setup Python"
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55
        with:
          python-version: "3.12"

      - name: "Setting up Rust"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Setup venv
        run: |
          python3 -m venv bench_venv
          source bench_venv/bin/activate
          pip install --upgrade pip

          git clone https://github.com/${{ env.WAVE_REPO }}.git
          cd wave
          git checkout ${{ env.WAVE_BRANCH }}
          pip install -r requirements-iree-pinned.txt
          pip install -r pytorch-rocm-requirements.txt
          pip install -r requirements.txt
          pip install -e .

          cd ..
          pip install -r requirements.txt

      - name: Run Benchmarks
        run: |
          source bench_venv/bin/activate
          python3 -m kernel_bench.cli.bench --backend=${{ env.SELECTED_BACKEND }} --kernel_type=${{ env.SELECTED_KERNEL }} --max_kernels=${{ env.MAX_KERNELS }} --machine=mi325x

      - name: Tag result
        if: ${{ inputs.metadata }}
        run: |
          mkdir -p ./results
          cat <<'EOF' > ./results/metadata.txt
          "${{ inputs.metadata }}"

      - name: Upload benchmark results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: benchmark-results
          path: ./results/
