name: Tune Wave Kernels

on:
  workflow_dispatch:
    inputs:
      problems_url:
        description: "URL to json containing problems to tune"
        required: true
      num_trials:
        description: "Number of trials per kernel for tuning"
        required: false
        default: "75"
      backend:
        description: "Backend to tune"
        required: false
        default: "wave"
      identifier:
        description: "Unique identifier to tag tuning run"
        required: false
        default: "undefined"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  identifier:
    name: Tuning Run Identifier
    runs-on: ubuntu-latest
    steps:
      - name: tuningRunId_${{ inputs.identifier }}
        run: echo run identifier ${{ inputs.identifier }}

  tuning:
    name: Tune Kernels
    needs: identifier
    runs-on: linux-mi325-8gpu-ossci-nod-ai

    env:
      WAVE_CACHE_ON: 0

    concurrency:
      group: tuning
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Setup Python"
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55
        with:
          python-version: "3.12"

      - name: "Setting up Rust"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Setup venv
        run: |
          chmod +x ./setup.sh
          ./setup.sh --venv-path tune_venv

      - name: Load Tuning Problems from URL
        run: |
          source tune_venv/bin/activate
          curl -o problems.json ${{ inputs.problems_url }}
          python -m json.tool problems.json > /dev/null || { echo "Error: Invalid JSON format"; exit 1; }

      - name: Tune
        run: |
          source tune_venv/bin/activate
          python -m kernel_bench.cli.bench --tune --load_problems=problems.json --backend=${{ inputs.backend }} --num_trials=${{ inputs.num_trials }} --machine=mi325x

      - name: Upload tuning results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: tuning-results
          path: ./results/tuning/
