name: Tune Wave Kernels

on:
  workflow_dispatch:
    inputs:
      config_url:
        description: "URL to tuning configuration"
        required: false
      config_json:
        description: "Stringified JSON for tuning configuration"
        required: false
        default: "[]"
      num_trials:
        description: "Number of trials per kernel for tuning"
        required: false
        default: "75"
      backend:
        description: "Backend to tune"
        required: false
        default: "wave"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  tuning:
    name: Tune Kernels
    runs-on: linux-mi325-8gpu-ossci-nod-ai

    env:
      CONFIG_JSON: ${{ inputs.config_json }}
      WAVE_CACHE_ON: 0

    concurrency:
      group: benchmarking
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Setup Python"
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55
        with:
          python-version: "3.12"

      - name: "Setting up Rust"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Setup venv
        run: |
          python3 -m venv tune_venv
          source tune_venv/bin/activate
          pip install --upgrade pip
          pip install --pre --no-cache-dir --find-links https://iree.dev/pip-release-links.html iree-base-compiler iree-base-runtime --upgrade
          pip install -r pytorch-rocm-requirements.txt
          pip install -r requirements.txt
          pip install wave-lang

      - name: Install Triton
        run: |
          source tune_venv/bin/activate
          git clone --recursive https://github.com/ROCm/aiter.git
          cd aiter
          python setup.py develop

      - name: Load Tuning Configuration from URL
        if: ${{ inputs.config_url }}
        run: |
          curl -o tune_config.json ${{ inputs.config_url }}

      - name: Load Tuning Configuration from JSON string
        if: ${{ !inputs.config_url }}
        run: |
          echo "$CONFIG_JSON" > tune_config.json

      - name: Validate Configuration File
        run: |
          source tune_venv/bin/activate
          python -m json.tool tune_config.json > /dev/null || { echo "Error: Invalid JSON format"; exit 1; }

      - name: Tune
        run: |
          source tune_venv/bin/activate
          python -m kernel_bench.cli.bench --tune --load_problems=tune_config.json --backend=${{ inputs.backend }} --num_trials=${{ inputs.num_trials }} --machine=mi325x

      - name: Upload tuning results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: tuning-results
          path: ./results/tuning/
