name: Tune Wave Kernels

on:
  workflow_dispatch:
    inputs:
      problems_url:
        description: "URL to problems to tune"
        required: true
      num_trials:
        description: "Number of trials per kernel for tuning"
        required: false
        default: "75"
      backend:
        description: "Backend to tune"
        required: false
        default: "wave"
      identifier:
        description: "Unique identifier to tag tuning run"
        required: false
        default: "undefined"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  identifier:
    name: Tuning Run Identifier
    runs-on: ubuntu-latest
    steps:
      - name: tuningRunId_${{ inputs.identifier }}
        run: echo run identifier ${{ inputs.identifier }}

  tuning:
    name: Tune Kernels
    runs-on: ubuntu-latest

    concurrency:
      group: benchmarking
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Setup Python"
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55
        with:
          python-version: "3.12"

      - name: Setup venv
        run: |
          python3 -m venv tune_venv
          source tune_venv/bin/activate
          pip install --upgrade pip
          pip install --pre --no-cache-dir --find-links https://iree.dev/pip-release-links.html iree-base-compiler iree-base-runtime --upgrade
          pip install -r pytorch-rocm-requirements.txt
          pip install -r requirements.txt
          pip install wave-lang

      - name: Load Tuning Configuration from URL
        run: |
          curl -o problems.json ${{ inputs.problems_url }}

      - name: Validate Configuration File
        run: |
          source tune_venv/bin/activate
          python -m json.tool problems.json > /dev/null || { echo "Error: Invalid JSON format"; exit 1; }

      - name: Tune
        run: |
          source tune_venv/bin/activate
          python -m workflow_tests.mock_tuning --load_problems=problems.json --backend=${{ inputs.backend }} --num_trials=${{ inputs.num_trials }} --machine=mi325x

      - name: Upload tuning results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: tuning-results
          path: ./results/tuning/
